body{background-color:#EAF6F6; }
h1{color: #646FD4;}
h3{color: #646FD4;}
hr{background-color:#EAF6F6;
   border-style: none;
   border-top-style: dotted;
   width: 5%;
   border-width: 7px;

 }
